.button {
  background: #3f623d;
  color: #f5f5f5;
  border: none;
  width: 228px;
  height: 52px;
  cursor: pointer;
}

.button:disabled {
  background: #576856;
  cursor: initial;
}

.button:hover {
  background: #2e4a2c;
}
