.footer {
  background-color: #063304;
  color: #f5f5f5;
  text-align: center;
  display: flex;
  padding: 5rem 0.5rem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  position: relative;
  overflow: hidden;
  margin-top: 6rem;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/Greenline.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  margin: 1.5rem;
  opacity: 0.3;
}

.footer_content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 999;
}

.footer_shortcut {
  margin-left: 1rem;
  min-width: 190px;
}

.footer h4 {
  font-weight: 900;
  letter-spacing: 2px;
  color: #f5f5f5;
}

.footer_shortcut-li {
  display: flex;
  margin: 0.9rem 2rem 0 0;
  font-size: 1rem;
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
  height: 1.4rem;
  width: fit-content;
}

.footer_shortcut-li:hover {
  border-bottom: 1px solid #f5f5f5;
}

.footer_shortcut-li a {
  cursor: pointer;
}

.footer-contact,
.footer-find-us {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-weight: light;
}

.footer-email {
  margin-top: 0.5rem;
  cursor: pointer;
}

.footer_media {
  display: flex;
  flex-direction: column;
}

.footer_icon {
  display: flex;
  gap: 1rem;
}

.footer_icon-link {
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .footer {
    padding: 0;
    margin-top: 3rem;
  }
  .footer::before {
    background-position: bottom;
  }
  .footer_content {
    width: 60%;
    margin: auto;
    gap: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    min-height: 650px;
    justify-content: flex-end;
  }
  .footer_shortcut {
    margin-left: 0;
  }
  .footer-email {
    margin-top: 1rem;
  }
}
