.hero {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.hero__title {
  position: absolute;
  top: 3%;
  left: 2%;
  color: #f5f5f5;
  text-shadow: -2px -2px 0 #202020bd, 2px -2px 0 #202020, -2px 2px 0 #202020,
    2px 2px 0 #202020, -2px 0px 0 #202020, 2px 0px 0 #202020, 0px -2px 0 #202020,
    0px 2px 0 #202020;
  font-size: 5rem;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  z-index: 10;
}

.hero__image {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hero img {
  object-fit: cover;
  max-height: 700px;
}

@media (max-width: 800px) {
  .hero__title {
    font-size: 3.5rem;
    top: 5%;
    left: 2%;
  }
}

@media (max-width: 500px) {
  .hero__title {
    font-size: 2rem;
    top: 5%;
    left: 2%;
  }
}
