.service {
  max-width: 1500px;
  margin: auto;
  padding: 2rem 1rem;
}

.service-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.service-text-content {
  max-width: 700px;
  margin-left: 3rem;
}

.service-desc {
  margin: 1rem 0;
  letter-spacing: 0.3px;
  line-height: 22px;
}

@media (min-width: 1440px) {
  .service-img-box img {
    object-fit: cover;
    min-height: 556px;
    width: 417px;
  }
}

@media (max-width: 880px) {
  .service-text-content {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
  .service-text-content {
    max-width: 400px;
    margin-left: 2rem;
  }
}

@media (max-width: 640px) {
  .service {
    padding: 1rem;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-img-box {
    width: fit-content;
  }
  .service-text-content {
    max-width: 310px;
    margin: 0.5rem auto;
  }
  .service-desc {
    text-align: justify;
  }
}
